---
// src/components/Header.astro
---
<header class="container mx-auto px-6 py-4">
    <nav class="flex justify-between items-center">
        <!-- O logo foi ajustado para w-20 (mobile) e w-24 (desktop) -->
        <div class="w-20 md:w-24">
            <a href="/">
                <img src="/assets/logo-branco.png" alt="Logo da Atlas DAO" width="96" height="24" />
            </a>
        </div>
        <a href="https://t.me/atlas_bridge_bot" target="_blank" rel="noopener noreferrer" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-200 text-sm md:text-base">
            Testar o Bot
        </a>
    </nav>
</header>
